{% extends "master_details.html" %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<!-- Wrapper -->
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{ topic.title }}</h2>
            <p>
                viewed {{topic.topic_visits.all|length}} times since {{ topic.created_at }}
            </p>
            <blockquote>{{ topic.quote }}</blockquote>
        </div>
    </header>
    <!-- Content -->
    <div class="wrapper">
        <div class="inner article">
          <img src="{{ topic.image.url }}" alt="" class="topic_image"/>
            <div>{{ topic.body }}</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="inner">
            <section class="features">
                {% for topic in featured_topics %}
                    <article>
                        <a href="/topics/{{topic.id}}" class="image"><img src="{{ topic.image.url }}" alt="" /></a>
                        <h3 class="major">{{ topic.title }}</h3>
                        <p>{{ topic.body|slice:"0:350" }} ...</p>
                        <a href="/topics/{{topic.id}}" class="special">Learn more</a>
                    </article>
                {% endfor %}
          </section>
        </div>
    </div>

</section>

{% endblock %}
